body{
    padding-top: 45px;
}
#logout,#profile,#update_account{
    display: none;
}
.m-t-15px{
    margin-top: 15px;
}
.m-b-15px{
    margin-bottom: 15px;
}
.w-10-pt{
    width: 10%;
}
.w-15-pt{
    width: 15%;
}
.w-25-pt{
    width: 25%;
}
.w-30-pt{
    width: 30%;
}
.text-align-center{
    text-align: center;
}
.margin{
    margin: 10px;
}
.margin_t_b{
    margin: 10px 0;
}
.margin_l_r{
    margin: 0 10px;
}
.search{
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 100px;
}
.search_item{
    display: flex;
}
.center{
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.paging{
    display: flex;
    gap: 20px;
}
.paging_item{
    display: grid;
    width: 50px;
    height: 50px;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    background: rgb(13,110,253);
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.paging_item_not-active:hover{
    background: rgb(11,94,215);
}
.paging_item_active{
    background: rgb(141,186,254);
    border: 2px solid rgb(13,110,253);
}